---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
---

<Layout>
  <h1>OM OS</h1>
  <section class="billedecollage"></section>
  <section class="omos-info">
    <h3>FORENINGEN AV, MIN GULDTAND</h3>
    <div>
      <p></p>
      <p></p>
    </div>
    <div>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </section>
  <Banner />
</Layout>
