---
import Layout from "../layouts/Layout.astro";
import HeaderHero from "../components/HeaderHero.astro";
import Lineup from "../components/Lineup.astro";
import Ticket from "../components/Ticket.astro";
import VolunteerCard from "../components/VolunteerCard.astro";
import Banner from "../components/Banner.astro";
---

<Layout>
  <HeaderHero />
  <h3>LINEUP 2025</h3>
  <Lineup />
  <h3>BILLETTER</h3>
  <Ticket />
  <h3>BLIV FRIVILLIG</h3>
  <VolunteerCard />
  <Banner />
</Layout>
