---
import Layout from "../layouts/Layout.astro";
import Filtering from "../components/Filtering.astro";
import Artist from "../components/Artist.astro";
---

<Layout>
  <h1>PROGRAM</h1>
  <Filtering />
  <Artist />
</Layout>
