---
import Layout from "../layouts/Layout.astro";
import Ticket from "../components/Ticket.astro";
import LineupName from "../components/LineupName.astro";
import Banner from "../components/Banner.astro";
---

<Layout>
  <h1>BILLETTER</h1>
  <Ticket />
  <LineupName />
  <Banner />
</Layout>
