---
import Layout from "../layouts/Layout.astro";
import TicketWithVideo from "../components/TicketWithVideo.astro";
import LineupName from "../components/LineupName.astro";
import Banner from "../components/Banner.astro";
---

<Layout>
  <h1>BILLETTER</h1>
  <TicketWithVideo />
  <LineupName />
  <Banner />
</Layout>
