---
import Layout from "../layouts/Layout.astro";
import VolunteerCard from "../components/VolunteerCard.astro";
import AssignmentsCard from "../components/AssignmentsCard.astro";
import AssignmentsCard2 from "../components/AssignmentsCard2.astro";
---

<Layout>
  <h1>FRIVLLIG</h1>
  <VolunteerCard />
  <AssignmentsCard />
  <AssignmentsCard2 />
</Layout>
