<header>
  <a href="/" class="logo">Av, Min Guldtand</a>
  <p>(midlertidig header - bare så man kan komme rundt på de andre sider :)</p>
  <nav>
    <ul>
      <li><a href="/program">Program</a></li>
      <li><a href="tickets">Billetter</a></li>
      <li><a href="/volunteer">Bliv frivillig</a></li>
      <li><a href="/aboutus">Om os</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  .logo {
    text-decoration: none;
    color: white;
  }

  nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  nav a {
    text-decoration: none;
    color: white;
  }
</style>
