<div class="tekst">
  <p>
    Frivillige er kernen i Av Min Guldtand. Som frivillig bliver du en del af
    det fællesskab, der får det hele til at ske, både foran og bag kulisserne.
    Du får adgang til festivalen med partoutarmbånd, drinksbilletter, en
    invitation til den legendariske frivilligfest og ikke mindst en sjov og
    social oplevelse sammen med andre frivillige.
  </p>
  <p>
    Vi har forskellige typer opgaver, som varierer i både arbejdstider og hvor
    mange timer, du skal arbejde. Nogle poster kræver lidt mere tid, men giver
    også lidt ekstra frivilligfordele med i rygsækken.
  </p>
  <p>
    Tag et kig på mulighederne og find den opgave, der passer bedst til dig - vi
    glæder os til at have dig med på holdet.
  </p>
</div>
<a href="#" class="btn">LÆS MERE</a>

<style>
  .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 2px solid white;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: transparent;
    transition:
      border-color 0.3s,
      color 0.3s;
  }

  .btn:hover {
    color: #fffa3c;
    border-color: #fffa3c;
  }
</style>
