---
import VolunteerInfo from "../components/VolenteerInfo.astro";
---

<div class="grid_blivfrivillig">
  <div class="frivillig_bilder">
    <img src="../../public/img/Bliv_frivillig_bilder.jpg" alt="" />
  </div>
  <div>
    <VolunteerInfo />
  </div>
</div>

<style>
  .grid_blivfrivillig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
</style>
